@font-face{
    font-family: 'auth';
    src: url('/auth.otf');
}
@font-face{
    font-family: 'ar';
    src: url('/AURORA-PRO.otf');
}
@font-face{
    font-family: 'lib';
    src: url('/l;ib.ttf');
}
*, html{
    margin: none;
    padding: none;
}
body{
    background-color: #f5f5f5;
}
#background{
    margin: none;
    padding: none;
    position: fixed;
    z-index: -100;
    left: 0;
    top: 0;
}
#background video{
    width: 100vw;
    height: 100vh;
    object-fit: fill;
}
#maindiv{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
}
#title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}
#logo{
    text-align: center;
    font-size: 5em;
    font-family: 'lib';
    font-weight: 900;
    text-decoration: none;
    color: #000;
    transition: transform .1s;
    text-shadow: 0px 1px 2px #000;
}
#logo:hover{
    transform: scale(1.03);
}
#title p{
    font-family: 'lib';
    font-style: italic;
}
#bio{
    position: absolute;
    top: 30%;
    font-style: italic;
    font-size: 1.5em;
    font-weight: 600;
    width: 60%;
    max-width: 500px;
    font-family: 'lib';
    text-align: center;
}
.links{
    padding-top: 30px;
    width: 100%;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    flex-wrap: wrap;
}
.links a{
    width: 90%;
    max-width: 600px;
    font-size: 3em;
    font-family: 'lib';
    font-weight: 900;
    text-decoration: none;
    color: #000;
    padding: 20px 0px 20px 0px;
    margin: 50px 0px 50px 0px;
    text-shadow: 0px 1px 2px #000;
    border-radius: 50px;
    transition: all .1s;
}
.links a:hover{
    box-shadow: 0px 0px 10px #adff2f;
    transform: scale(1.03);
    background-color: #acff2f74;
    text-shadow: 0px 0px 4px #000;
    transform: scaleX(1.03);
}




#work img{
    max-width: 300px;
}
#work{
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    flex-wrap: wrap;
}
#work a{
    text-align: center;
    font-size: 2em;
    font-family: 'lib';
    font-weight: 900;
    text-decoration: none;
    color: #000;
    transition: all .1s;
    margin: 10px;
    padding: 3px 10px 3px 10px;
    border-radius: 30px;
}
@keyframes example {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
@media (max-device-width:500px){
    #logo{
        font-size: 10em;
    }
    #title p{
        font-size: 3em;
    }
    .links a{
        font-size: 6em;
    }
    #bio{
        font-size: 3em;
    }
  }