@font-face{
    font-family: 'bb';
    src: url('Basteleur-Moonlight.woff');
}
@font-face{
    font-family: 'lib';
    src: url('l;ib.ttf');
}
*, html{
    margin: none;
    padding: none;
}
body{
    background: url('./cloudbackground.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#preload{
    display: none;
}
#maindiv{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: baseline;
    margin-bottom: 20px;
}
.title{
    width: 100%;
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.logo{
    padding: 50px 50px 0px 50px;
    font-style: italic;
    text-align: left;
    font-size: 9vh;
    font-family: 'bb';
    font-weight: 100;
    text-decoration: none;
    color: #f5f5f5;
    transition: all .1s;
    text-shadow: 0px 0px 3px #f5f5f5;
    max-width: 600px;
    animation: fadein .2s normal forwards ease-in-out;
}
.logo:hover{
    text-shadow: 0px 0px 7px #f5f5f5;
}
#mainlogo{
    font-size: 10vh;
    padding: 50px 0px 0px 50px !important;
}
#maindiv p{
    margin-top: 25px;
    padding-left: 50px;
    font-family: 'lib';
    font-style: italic;
    color: #f5f5f5;
    background-color: #add8e6;
    font-style: italic;
    box-shadow: 0px 0px 5px #add8e6;
    text-shadow: 0px 0px 1px #f5f5f5;
    width: 100%;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
.links{
    width: 100%;
    text-align: right;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
}
.links div{
    width: 70%;
    max-width: 600px;
    min-width: 400px;
    padding: 10px 0px 10px 0px;
    margin: 10px 50px 10px 0px;
    text-shadow: 0px 0px 3px #f5f5f5;
    transition: all .1s;
    display: flex;
    flex-direction: column;
    
}
.links div:hover{
    font-style: italic;
}
.mainlinks{
    font-size: 2.3em;
    font-family: 'lib';
    font-weight: 100;
    color: #f5f5f5;
    text-decoration: none;
    border-bottom: 2px solid #f5f5f5b0;
    transition: all .1s;
}
.techlinks{
    color: #eee8aa;
    font-family: 'lib';
    font-size: 1.5em;
    display: none;
    opacity: 0;
    width: 100%;
    max-width: 600px;
    min-width: 400px;
    padding: 10px 0px 10px 0px;
    margin: 10px 50px 10px 0px;
    text-shadow: 0px 0px 3px #f5f5f5;
    transition: opacity .3s, transform .1s, text-shadow .1s, font-style .1s;
    border-bottom: 2px solid #eee8aa;
    text-decoration: none;
    font-style: normal !important;
}
.techlinks:hover{
    font-style: italic !important;
    text-shadow: 0px 0px 12px #f5f5f5;
    transform: translateX(-10px);
}
.createlinks{
    color: #eee8aa;
    font-family: 'lib';
    font-size: 1.5em;
    display: none;
    opacity: 0;
    width: 100%;
    max-width: 600px;
    min-width: 400px;
    padding: 10px 0px 10px 0px;
    margin: 10px 50px 10px 0px;
    text-shadow: 0px 0px 3px #f5f5f5;
    transition: opacity .3s, transform .1s, text-shadow .1s, font-style .1s;
    border-bottom: 2px solid #eee8aa;
    text-decoration: none;
    font-style: normal !important;
}
.infolinks{
    color: #eee8aa;
    font-family: 'lib';
    font-size: 1.5em;
    display: none;
    opacity: 0;
    width: 100%;
    max-width: 600px;
    min-width: 400px;
    padding: 10px 0px 10px 0px;
    margin: 10px 50px 10px 0px;
    text-shadow: 0px 0px 3px #f5f5f5;
    transition: opacity .3s, transform .1s, text-shadow .1s, font-style .1s;
    border-bottom: 2px solid #eee8aa;
    text-decoration: none;
    font-style: normal !important;
}
.createlinks:hover{
    font-style: italic !important;
    text-shadow: 0px 0px 12px #f5f5f5;
    transform: translateX(-10px);
}
.infolinks:hover{
    font-style: italic !important;
    text-shadow: 0px 0px 12px #f5f5f5;
    transform: translateX(-10px);
}
.mainlinks:hover{
    text-shadow: 0px 0px 12px #f5f5f5;
    transform: translateX(-10px);
    font-style: italic;
}
#navlogo{
    max-width: 70%;
}
#sublogo{
    font-size: 5vh;
    width: auto;
    max-width: 67%;
    font-family: 'lib';
}
#subtitle{
    flex-direction: row;
}
#current{
    font-size: 1.3em;
    font-style: normal !important;
    font-family: 'bb';
    color: #eee8aa;
}
#tabs{
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    font-style: normal;
    align-items: flex-end;
    text-align: center;
    z-index: 100;
}
#tabs a{
    font-size: 1em;
    font-family: 'lib';
    color: #f5f5f5;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    margin: 10px 0px 10px 25px;
    text-shadow: 0px 0px 1px #f5f5f5;
    border-radius: 50px;
    transition: all .1s;
    background-color: #add8e6;
    font-style: italic;
    box-shadow: 0px 0px 5px #add8e6;
}
#tabs a:hover{
    box-shadow: 0px 0px 20px #add8e67b;
    background-color: #add8e67b;
    transform: translateX(-5px)
}
#arrowcontainer{
    position: fixed;
    top: 60%;
    bottom: 0;
    left: 0;
    display: flex;
    height: 100px;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    animation: nudgeleft 1s normal 2 ease-in-out;
    margin: 10px;
}
.arrow{
    position: fixed;
    top: 60%;
    bottom: 0;
    margin: 0px 15px 0px 15px;
    height: 10px;
    padding: 16px;
    z-index: 100 !important;
    font-family: 'lib';
    color:#f5f5f5;
    text-align: center;
    text-shadow: 0px 0px 1px #f5f5f5;
    box-shadow: 0px 0px 3px #add8e6;
    font-weight: 900;
    border-radius: 25px;
    transition: all .1s;
    text-decoration: none;
    line-height: 1.4em;
    background-color: #add8e6a9;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
#right{
    right: 0;
    animation: nudgeright 1s normal 2 ease-in-out;
}
#left {
    left: 0;
    animation: nudgeleft 1s normal 2 ease-in-out;
}
.arrow:hover{
    text-shadow: 0px 0px 10px #f5f5f5;
    transform: scale(1.1);
}
.work img{
    height: 80vh;
    box-shadow: 0px 0px 3px #000;
    transition: all .1s;
}
#landscape{
    width: 60vw;
    height: auto !important;
}
.work img:hover{
    box-shadow: 0px 0px 10px #fff;
    border-radius: 5px;
}
.work{
    width: auto;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 25px;
}
.work a{
    color: #f5f5f5;
    text-shadow: 0px 1px 2px #f5f5f5;
    line-height: 28px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'lib';
    font-weight: 100;
    text-decoration: none;
    transition: all .1s;
    margin-bottom: 50px;
    z-index: 5;
}
.work a:hover{
    z-index: 100 !important;
    text-shadow: 0px 0px 10px #f5f5f5;
    font-style: italic;
}
#copy{
    width: 70%;
    max-width: 1200px;
    font-family: 'lib';
    color: #f5f5f5;
    text-shadow: 0px 0px 1px #f5f5f5;
    line-height: 28px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
    text-decoration: none;
    padding: 20px;
    transition: all .1s;
    border-radius: 20px;
    margin-bottom: 40px;
}
#yellow{
    color: #eee8aa !important;
    border-bottom: 2px solid #eee8aa;
}
#aboutdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 500px;
    padding: 20px;
    transition: all .1s;
    width: 70vw;
    max-width: 900px;
    margin-bottom: 100px;
}
#aboutdiv h1{
    line-height: 28px;
    text-align: center;
    font-size: 1.2em;
    max-width: 400px;
    font-weight: 100;
    color: #f5f5f5;
    text-decoration: none;
    font-family: 'lib';  
}
#textdiv{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    vertical-align: middle;
    justify-content: baseline;
    text-align: center;
}
#textdiv a{
    width: 300px;
    text-align: center;
    text-decoration: none;
    font-family: 'lib';
    margin: 20px;
    padding: 20px;
    background-color: #add8e68c;
    border-radius: 200px;
    color: #f5f5f5;
    box-shadow: 0px 0px 5px #add8e6;
    transition: all .1s;
    font-size: 1em;
}
#textdiv a:hover{
    text-shadow: 0px 0px 8px #f5f5f5;
    font-style: italic;
    box-shadow: 0px 0px 15px #add8e6;
    transform: scale(1.03);
}
#aboutdiv img{
    width: 100%;
    max-width: 400px;
    min-width: 350px;
    box-shadow: 0px 0px 2px #000;
    border-radius: 300px;
}
#buttoncontainer{
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    justify-content: space-evenly;
}
#specialtab{
    padding: none !important;
    transition: all .1s;
}
#spacer{
    height: 100px;
    width: 100%;
}
#flower{
    margin: 40px;
    width: 150px;
    -webkit-filter: drop-shadow(0px 0px 5px #f5f5f5);
    filter: drop-shadow(0px 0px 5px #f5f5f5);
    animation: example 10s linear 0s infinite;
}
#flowernospin{
    margin: 25px;
    width: 100px;
    animation: example 10s linear 0s infinite;
    -webkit-filter: drop-shadow(0px 0px 5px #f5f5f5);
    filter: drop-shadow(0px 0px 5px #f5f5f5);
}
#specialtab:hover{
    transform: scale(1.1);
}
#hidden{
    width: 1px;
    height: 1px;
    display: none;
}
#specialtabs{
    z-index: 100;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    font-style: normal;
    align-items: flex-end;
    text-align: center;
    padding: none;
}
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes nudgeleft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes nudgeright {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes example {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
@media (max-device-width:900px){
    .techlinks{
        font-size: 4em !important;
    }
    .logo{
        font-size: 5em !important;
    }
    #mainlogo{
        font-size: 7em !important;
    }
    #maindiv p{
        font-size: 2.5em;
        text-align: center;
        padding: 0px;
    }
    .links{
        padding: none;
        margin: none;
        width: 90vw;
        align-items: center;
        vertical-align: middle;
        justify-content: space-between;
    }
    .links a{
        width: 100%;
        margin: none;
        margin-bottom: 40px;
        font-size: 5em;
        border-bottom: 2px solid #f5f5f5;
        text-align: center;
    }
    .links div{
        margin: 0px !important;
    }
    .work img{
        height: auto;
        width: 70vw;
    }
    #landscape{
        width: 70vw;
    }
    #maindiv p{
        font-size: 3em;
    }
    #tabs a{
        font-size: 2em;
    }
    #aboutdiv h1{
        font-size: 3em;
        line-height: 55px;
    }
    #textdiv a{
        font-size: 3em;
        padding: 10px;
    }
    #aboutdiv img{
        max-width: 600px;
    }
    #background video{
        display: none;
    }
    #flowernospin{
        width: 200px;
    }
    .arrow{
        font-size: 3em;
        padding: 25px;
    }
    .work a{
        font-size: 3em;
        line-height: 55px;
    }
    #copy{
        font-size: 3em;
        line-height: 55px;
    }
  }